---
- name: Install GitLab Runner
  community.docker.docker_container:
    name: "gitlab_runner"
    image: "gitlab/gitlab-runner:latest"
    restart_policy: "unless-stopped"
    networks:
      - name: gitlab
    volumes:
      - "{{ gitlab_docker_path }}/gitlab-runner/config:/etc/gitlab-runner"
      - "/var/run/docker.sock:/var/run/docker.sock"

# code: language=ansible
