# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "matrix.smachmeier.de"
public_baseurl: https://synapse.smachmeier.de/
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: {{ matrix_db_user }}
    password: {{ matrix_db_password }}
    database: {{ matrix_db_name }}
    host: matrix-synapse-db
    cp_min: 5
    cp_max: 10
log_config: "/data/matrix.log.config"
media_store_path: /data/media_store
registration_shared_secret: "{{ matrix_registration_shared_secret }}"
report_stats: true
macaroon_secret_key: "{{ matrix_macaroon_secret_key }}"
form_secret: "{{ matrix_form_secret }}"
signing_key_path: "/data/matrix.signing.key"
public_baseurl: https://{{ matrix_synapse_domain }}/
app_service_config_files:
- "/data/registration-signal.yaml"
- "/data/registration-whatsapp.yaml"
- "/data/registration-telegram.yaml"
trusted_key_servers:
  - server_name: "{{ matrix_domain }}"
enable_search: true

user_directory:
    enabled: true
    search_all_users: true

modules:
 - module: "ldap_auth_provider.LdapAuthProviderModule"
   config:
     enabled: true
     uri: "ldap://{{ openldap_hostname }}:{{ openldap_port}}"
     start_tls: false
     base: "{{ openldap_base_dn }}"
     mode: "search"
     attributes:
        uid: "uid"
        mail: "mail"
        name: "cn"
     bind_dn: "cn=admin,{{ openldap_base_dn }}"
     bind_password: "{{ openldap_password }}"
     filter: "(memberof=cn=matrix,ou=groups,{{ openldap_base_dn }})"
     tls_options:
       validate: false
