version: '3.3'
services:
  openldap:
    image: osixia/openldap:latest
    container_name: "openldap"
    restart: unless-stopped
    environment:
      - LDAP_BASE_DN=${BASE_DN}
      - LDAP_ORGANISATION=${NAME}
      - LDAP_DOMAIN=${DOMAIN}
      - LDAP_ADMIN_PASSWORD=${PASSWORD}
      - LDAP_REPLICATION=false
      - LDAP_READONLY_USER=false
      - LDAP_TLS_VERIFY_CLIENT=never
      - LDAP_RFC2307BIS_SCHEMA=true
      - LDAP_REMOVE_CONFIG_AFTER_SETUP=true
    volumes:
      - ./openldap_data:/var/lib/ldap
      - ./slapd_data:/etc/ldap/slapd.d
    networks:
      - proxy

  ldapmanager:
    image: wheelybird/ldap-user-manager:latest
    restart: unless-stopped
    environment:
      LDAP_REQUIRE_STARTTLS: "false"
      LDAP_TLS_VERIFY_CLIENT: never
      LDAP_URI: "ldaps://openldap"
      LDAP_BASE_DN: "${BASE_DN}"
      LDAP_ADMINS_GROUP: "admins"
      LDAP_ADMIN_BIND_PWD: "${PASSWORD}"
      LDAP_ADMIN_BIND_DN: "cn=admin,${BASE_DN}"
      SITE_NAME: "Machmeier-IT"
      SERVER_HOSTNAME: "https://ldap.${DOMAIN}"
      NO_HTTPS: "true"

      SMTP_HOSTNAME: "smtp.office365.com"
      SMTP_HOST_PORT: "587"
      SMTP_USERNAME: ""
      SMTP_PASSWORD: ""
      SMTP_USE_TLS: "true"
      EMAIL_FROM_ADDRESS: ""
      EMAIL_FROM_NAME: ""
      
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ldapmanager.rule=Host(`ldap.${DOMAIN}`)"
      - "traefik.http.routers.ldapmanager.entrypoints=websecure"
      - "traefik.http.routers.ldapmanager.tls.certresolver=mytlschallenge"
      - "traefik.http.services.ldapmanager.loadbalancer.server.port=80"
      - "traefik.http.routers.ldapmanager.middlewares=ldapmanager-auth"
      - "traefik.http.middlewares.ldapmanager-auth.basicauth.users=admin:{SHA}${DASHBOARD_PASSWORD}"
    networks:
      - proxy

networks:
  proxy:
    external: true
